/* Tirar as setinhas do input numérico */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;

}

.buttonChatbot{
  padding-left: 95%;
  padding-bottom: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
}

