<app-navbar></app-navbar>
<h4 class="tituloEtapas">Abrir uma empresa nunca ficou tão fácil!</h4>
<h5 class="tituloEtapas">Veja como é simples:</h5>

<div class="container">
  <div class="textoEtapas">
    <p>Sua empresa fatura R$ 81.000.00 ao ano? <br> *De forma individual ou com até 1 funcionário:* ABRA UM MEI!</p>
    <p class="checksAbout"> <i class="pi pi-check"></i> Faça seu cadastro no Gov.br. </p>
    <p class="checksAbout"> <i class="pi pi-check"></i> Com o acesso, obtenha seu CNPJ MEI no portal do empreendedor. </p>

  </div>

  <div class="textoEtapas">
    <p>Para empresas no formato convencional:</p>
    <p class="checksAbout"> <i class="pi pi-check"></i> Faça seu cadastro de acesso à plataforma.  </p>
    <p class="checksAbout"> <i class="pi pi-check"></i> Preencha os campos conforme solicitado, onde será gerado um resumo. </p>
    <p class="checksAbout"> <i class="pi pi-check"></i> Com o resumo, vá presencialmente na praça do empreendedor.</p>
    <p class="checksAbout"> <i class="pi pi-check"></i> Elaboração do estatuto ou contrato social.</p>
    <p class="checksAbout"> <i class="pi pi-check"></i> Registro na Junta Comercial ou Cartório.</p>
    <p class="checksAbout"> <i class="pi pi-check"></i> Alvarás e outras liberações junto a prefeitura.</p>
  </div>
  <div class="iconesRedeSocial">
    <i class="pi pi-facebook"></i>
    <i class="pi pi-whatsapp"></i>
    <i class="pi pi-instagram"></i>
    </div>
</div>

<div id="chat-bot">
  <app-chatbot></app-chatbot>
</div>
